<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[*pagetitle*] | [(site_name)]</title>
<base href="[(base_url)]">
<link href="[(base_url)]assets/css/styles.css" rel="stylesheet" type="text/css" />
<link href="[(base_url)]assets/css/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
	var SETTINGS = {
		'ajax_gateway': '/index-ajax.php'
	}
</script>
<script src="[(base_url)]assets/js/libs/jquery.1.10.2.min.js"></script>

<!--Plugins-->
<script src="[(base_url)]assets/js/plugins/jquery.carouFredSel-6.2.1.js"></script>
<script src="[(base_url)]assets/js/plugins/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="[(base_url)]assets/js/plugins/jquery.fancybox.js"></script>
<script src="[(base_url)]assets/js/plugins/jquery.serializeFormToObject.js"></script>
<script type="text/javascript" src="[(base_url)]assets/js/plugins/pkgd.min.js"></script>

<!--Controllers-->
<script src="[(base_url)]assets/js/controllers/Products.obj.js"></script>
<script src="[(base_url)]assets/js/controllers/Popup.obj.js"></script>
<script src="[(base_url)]assets/js/controllers/Forms.obj.js"></script>

<script src="[(base_url)]assets/js/core.js"></script>
<script src="[(base_url)]assets/js/main.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="[(base_url)]assets/css/ie.css" />
<![endif]-->
<link rel="icon" type="image/png" href="[(base_url)]assets/images/favicon.png" />